.dashboardMain {
    padding: 20px 30px;
    padding-bottom: 200px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.filterContainer{
    display: flex;
    flex-direction: column;
}

.topic {
    font-size: 24px;
  font-weight: 540;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.span {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.podcasts {
    display: flex;
flex-wrap: wrap;
gap: 14px;
padding: 18px 6px;
}

.loader {display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;}
.displayNo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
   
